@font-face {
    font-family: 'Simple-Light';
    src: url("../src/assets/fonts/Fredoka-Light.ttf") format("opentype");
}
@font-face {
    font-family: 'Simple-Regular';
    src: url("../src/assets/fonts/Fredoka-Regular.ttf") format("opentype");
}
@font-face {
    font-family: 'Simple-Medium';
    src: url("../src/assets/fonts/Fredoka-Medium.ttf") format("opentype");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
::selection{
    background: transparent;
};
::-webkit-scrollbar {display:none;}